* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 350px;
  padding: 20px;
  border-radius: 20px;
}

.input {
  display: block;
  font-size: 40px;
  font-weight: 600;
  margin: 20px auto;
  padding: 10px;
  width: 300px;
  height: 150px;
  text-align: right;
  color: white;
  background-color: black;
  border: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.number,
.operator,
.dot {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  border: 1px solid black;
  color: white;
  font-size: 30px;
  font-weight: 400;
}

.zero {
  width: 150px;
}

.gray {
  background-color: gray;
}
.orange {
  background-color: orange;
}

.number,
.dot {
  background-color: rgb(56, 55, 55);
}
